.main-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}
#footer{
  margin-top: auto;
}
.mb{
  margin-top: -50px !important;
}
td{
  padding: 3px !important;
}