{{- define "breadcrumb" }}
  {{- if .node.Parent }}
    {{- template "breadcrumb" (dict "node" .node.Parent "start" .start) }}
  {{- else if not .node.IsHome }}
    {{- template "breadcrumb" (dict "node" .node.Site.Home "start" .start) }}
  {{- end }}


  {{- if eq .node .start }}
    <li class="breadcrumb-item active">{{ .node.Title }}</li>
  {{- else }}
    <li class="breadcrumb-item"><a href="{{ .node.Permalink }}">{{ .node.LinkTitle }}</a></li>
  {{- end }}
{{- end }}

<nav>
  <ul class="breadcrumb">
    <a href="/">トップ</a>{{- template "breadcrumb" (dict "node" . "start" .) }}
  </ul>
</nav>